html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit; /*폰트 스타일 물려받다*/
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img {
  vertical-align: bottom; /*요소 위치 맞추기*/
}

body {
  color: #374151;
  word-break: keep-all; /*단어 안짤리는 줄바꿈*/
  font-family: "Pretendard", sans-serif;
}
/* home.css */
header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
  background-color: #ffffff;
  border-bottom: 0.1rem solid #dfdfdf;
}

footer {
  background-color: #111827;
  color: var(--Secondary-400, #ffffff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 20rem 10.8rem 20rem;
  font-size: 1.6rem;
}

#footerMenu {
  display: flex;
  gap: 3rem;
  color: e5e7eb;
}

#socialMedia {
  display: flex;
  gap: 1.2rem;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1967d6;
}

.button:focus {
  background-color: #1251aa;
}

.button:disabled {
  background-color: #9ca3af;
  cursor: default;
  pointer-events: none;
}

.pill-button {
  font-size: 2rem;
  font-weight: 700;
  border-radius: 99.9rem;
  padding: 1.6rem 12.4rem;
}
